body {
    margin: 0;
    padding: 0;
    height: 100%;

    background: linear-gradient(#09a6c66a, #2600ffdc);
    color: black;
    text-shadow: 1px 1px 2px rgb(190, 209, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(0, 0, 0);
    font-family: 'Rubik', sans-serif;
  }

  h1 {
    font-size: 200%;
    margin-left: -2%;
  }

  body{
    margin-left: 5%;
  }

  section{
    margin-bottom: 10%;
  }